.courses {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.courses > * {
    flex: 1 1 calc(50% - 1rem);
}

@media screen and (min-width: 700px) {
    .courses > * {
        flex: 1 1 22%; 
    }
}
